logs/
colin-plotting.tar.gz
sub-single.sh
namelist.*
tc_traj*
cyc.*
et-tracker/tc-tracking/tc_traj
!et-tracker/text_files/
et-tracker/climatology_files/
nl.*
!nl.sample*
colin-plotting/
*.TIME
nohup.out
slurm*
trajectories.txt*
*.png
*.gif
*.pdf
*.nc
*.txt
